<html>
    <head>
        <title>Doodle Knit's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Doodle Knit's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Welcome to my blog.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>And here is another post!</p>
        </div>
    </body>
</html>
